# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
*.log

# Database credential files
.mysql-opts.cnf
.pg-init.sql

# Env
.env
.env.local

# PostgreSQL data
pgsqldata/
